html {
	opacity: 0.9;
}

body {
	text-align: center;
}

button {
	height: 150px;
	width: 150px;
	background-color: #4666FF;
	opacity: 0.8;
	border-color: black;
	border-width: 9px;
	margin-top: 10px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 70px
}

board-row {

}