
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

html {
	background: url(https://static.vecteezy.com/system/resources/previews/000/095/240/large_2x/abstract-bright-blue-geometric-shape-vector.jpg);
	opacity: 0.9;
	font-family: Tomorrow, sans-serif;
}

body {
	text-align: center;
}

button {
	height: 150px;
	width: 150px;
	background-color: #4666FF;
	opacity: 0.8;
	border-color: black;
	border-width: 9px;
	margin-top: 10px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 70px
}

board-row {

}


:root {
  --yellow-color: #fcee09; 
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
}

.btn {
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black-color);
  outline: none;
  background-color: var(--yellow-color);
  color: var(--black-color);
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 100px;
  text-transform: uppercase;
}

.btn::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -14px;
  left: -13px;
  background-color: var(--yellow-color);
  border-top: 2px solid var(--black-color);
  transform: rotate(45deg);
}

.btn::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: -14px;
  right: -13px;
  background-color: var(--yellow-color);
  border-bottom: 2px solid var(--black-color);
  transform: rotate(45deg);
}