html {
	background: url(https://cdn2.iconfinder.com/data/icons/data-management-8/512/27_Cube_Jigsaw_Puzzle_Box-512.png) no-repeat center fixed;
	opacity: 0.6;
}

body {
	text-align: center;
}

button {
	height: 200px;
	width: 200px;
	background-color: blue;
	opacity: 0.6;

}

board-row {
	height: 100px;
	width: 100px;

}