html {
	background: url(https://cdnb.artstation.com/p/assets/images/images/019/282/157/large/mike-golden-107-droquis-cyberlandscape-1080.jpg?1562786938) no-repeat center center fixed;
}

body {
	font-size: 36px;
	color: white;
}